/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #007bff;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.sidebar-title {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 15px;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.sidebar-menu a:hover {
  background-color: #0056b3;
  border-radius: 4px;
}

.content {
  margin-left: 270px;
  padding: 20px;
  width: calc(100% - 270px);
}


.card-container {
  display: flex;
  justify-content:center;
  gap: 20px;
}

.card {
  width:200px !important;
  height:300px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* flex-basis: calc(50% - 20px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.content h2{
  margin:40px;
}

.card h3 {
  margin-top: 0;
  color: #333;
}

.card p {
  margin: 10px 0;
  color: #555;
}


.cancel-appointment {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.cancel-appointment:hover {
  background-color: #c82333;
}
#add-patient {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#addPatientForm {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


.view-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  justify-content: space-between;
}

.view {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-basis: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width:40%;

}

.suggestions {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}
